.actionbar #input-search-pattern {
    margin: 3px;
    width: 80%;
}

.linksbar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: row;
}

.linksbar a{
    font-variant: small-caps;
    text-decoration: none;
    color: inherit;
}

.linksbar a:hover
{
   text-decoration: underline;
   color: darkred;
}

.book-view {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-flow: row wrap;
    writing-mode: horizontal-tb;
}

.book-box {
    border: 5px solid #fff;
    float: left;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 424px; /* (A4 ratio) */
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.book-img img {
    /* following makes the image shrinked by its container */
    position: absolute;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.simple-caption {
    position: absolute;
    width: 300px;
    display: block;
    top: 424px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.book-box:hover .simple-caption {
    color: #fff;
    background-color: rgba(0,0,0,0.8) !important;
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

