{% for b in books %}
    <div class="book-box">
        <a href="{{ url_for('.pdf_read', pdffile = b.filename) }}">
        <div class="book-img">
        <img src="{{ url_for('.image', sha1 = b.sha1) }}" width="300px" />
        </div>
        </a>
        <div class="simple-caption">
            <div class="book-filename">
                <p>{{ b.get_name_and_size_as_str() }}</p>
            </div>
            <div class="book-actions">
                <img class="pinbook-action-icon" id="{{ b.sha1 }}"
                     {% if b.bookmarked %}
                     src="/static/bookmark-active.svg"
                     {% else %}
                     src="/static/bookmark.svg"
                     {% endif %}
                     width="20" height="20" />

                <a href="{{ url_for('.bookadmin', sha1 = b.sha1) }}">
                    <img src="/static/pencil.svg" width="20" height="20" />
                </a>
            </div>
        </div>
    </div>
  {% endfor %}