<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="screen" />
        <style>
        </style>
    </head>

    <body>
        <h1>Liste des livres</h1>
        <a href="{{ url_for('.logout') }}">Logout</a><br/>

        <form class="form-filter" role="form" method="post">
        <select name="selected-category" onchange="this.form.submit()">
            <option> all </option>
        {% for c in categories %}
            <option{{ " selected" if c == selected_category else "" }}> {{ c }} </option>
        {% endfor %}
        </select>
        <!--button class="btn" type="submit">Filter</button-->
        </form>

        <div class="book-view">
        {% for b in books %}
          <div class="book-box">
            <a href="{{ url_for('.pdf_read', pdffile = b.filename) }}">
            <img src="{{ url_for('.image', sha1 = b.sha1) }}" width="300px" />
            </a>
            <span class="caption simple-caption">
            <p>{{ b.get_name_and_size_as_str() }}</p>
            </span>
          </div>
        <!--td>{{ b.get_name_and_size_as_str() }}</td-->


        <!--td>{{ b.filename }}</td-->
        <!--td>{{ b.sha1 }}</td-->

	<!--TODO-->
        <!--td>{{ b.author }}</td-->
        <!--td>{{ b.annee }}</td-->
        <!--td>{{ b.note_sur_5_stars }}</td-->
        <!--td>{{ b.nb_pages }}</td-->
        {% endfor %}
        </div>
    </body>
</html>
