<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="screen" />
        <style>
        </style>
    <script>
        var nextSubset=0;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height() && nextSubset < {{ nbSubset }}) {
                appendBooklistSubset();
            }
        });
        function appendBooklistSubset() {
            const Http = new XMLHttpRequest();
            url='/browser_subset?subset-id=' + nextSubset;
            Http.open("GET", url);
            Http.send();
            nextSubset++;

            Http.onreadystatechange = (e) => {
                if (Http.readyState == Http.DONE) {
                    // console.log(Http.responseText)
                    $('#main-book-view').append(Http.responseText);
                }
            }
        }
        // Initial subset #0 display to populate when arriving on page
        appendBooklistSubset();

        // Search bar
        var keyTimer;
        $(function() {
            $('#input-search-pattern').each(function() {
                var elem = $(this);

                // Save current value of element
                elem.data('oldVal', elem.val());

                // Look for changes in the value
                elem.bind("propertychange change click keyup input paste", function(event){
                    // If value has changed...
                    if (elem.data('oldVal') != elem.val()) {
                        // Updated stored value
                        elem.data('oldVal', elem.val());

                        // Do action
                        console.log(elem.val());

                        if (elem.val() == "") {
                            // No search string, fallback to subset #0 display
                            document.getElementById('main-book-view').innerHTML = "";
                            document.getElementById('info-text').innerHTML = "";
                            nextSubset = 0;
                            appendBooklistSubset();
                        } else {
                            // inspired by https://grafikart.fr/tutoriels/debounce-throttle-642
                            clearTimeout(keyTimer);
                            keyTimer = setTimeout(function() {
                                // console.log(">"+elem.val());
                                booklistSearch(elem.val(), pinnedBookFilter);
                            }, 150);
                        }
                    }
                });
            });
        });
        function booklistSearch(pattern) {
            const Http = new XMLHttpRequest();
            url='/browser_search?pat=' + encodeURIComponent(pattern);
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                if (Http.readyState == Http.DONE) {
                    var jsonResponse = JSON.parse(Http.responseText);
                    document.getElementById('main-book-view').innerHTML = jsonResponse["body"];
                    document.getElementById('info-text').innerHTML = jsonResponse["info-text"];
                }
            }
        }

        // Note: this handler address a dynamically loaded content. This requires event delegation to work as expected.
        //  https://stackoverflow.com/questions/16598213/how-to-bind-events-on-ajax-loaded-content
        $(document).on("click", '.pinbook-action-icon', function(event) {

            var id = $(this).attr("id");
            console.log("bookmark " + id + " clicked ");

            req = $.ajax({
                url: '/pinbook',
                type: 'POST',
                data: {
                    id: id,
                }
            });

            req.done(function(data) {
                console.log("req.done data = " + data);
                // $("#" + id).fadeOut(1000).fadeIn(1000);
                var newSrc = '/static/bookmark.svg'
                if (data["pinned"]) {
                    newSrc = '/static/bookmark-active.svg'
                }
                $("#" + id).attr('src', newSrc);
            });
        });
    </script>
</head>
    <body>
        <div class="titlebar">
            <h1>Liste des livres</h1>
        </div>

        <div class="actionbar">
            <div class="linksbar">
                <a href="{{ url_for('.logout') }}">Logout</a><br/>
                La librairie contient {{ nbBooklist }} livres |<br/>
                <div id="info-text"></div>
            </div>
            <input id="input-search-pattern" type="text" />
        </div>

        <div class="book-view" id="main-book-view">
            <!-- This is part is fulfilled by AJAX -->
        </div>
    </body>

</html>

