<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="screen" />
        <style>
        </style>
    <script>
        var nextSubset=1;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height() && nextSubset < {{ nbSubset }}) {
                appendBooklistSubset();
            }
        });
        function appendBooklistSubset() {
            const Http = new XMLHttpRequest();
            url='/browser_subset?subset-id=' + nextSubset;
            Http.open("GET", url);
            Http.send();
            nextSubset++;

            Http.onreadystatechange = (e) => {
                if (Http.readyState == Http.DONE) {
                    console.log(Http.responseText)
                    $('#main-book-view').append(Http.responseText);
                }
            }
        }

        // Search bar
        var keyTimer;
        $(function() {
            $('#input-search-pattern').each(function() {
                var elem = $(this);

                // Save current value of element
                elem.data('oldVal', elem.val());

                // Look for changes in the value
                elem.bind("propertychange change click keyup input paste", function(event){
                    // If value has changed...
                    if (elem.data('oldVal') != elem.val()) {
                        // Updated stored value
                        elem.data('oldVal', elem.val());

                        // Do action
                        console.log(elem.val());

                        if (elem.val() != "") {
                            // inspired by https://grafikart.fr/tutoriels/debounce-throttle-642
                            clearTimeout(keyTimer);
                            keyTimer = setTimeout(function() {
                                console.log(">"+elem.val());
                                booklistSearch(elem.val());
                            }, 150);
                        } else {
                            // No search string, fallback to subset #0 display
                            document.getElementById('main-book-view').innerHTML = "";
                            document.getElementById('info-text').innerHTML = "";
                            nextSubset = 0;
                            appendBooklistSubset();
                        }
                    }
                });
            });
        });
        function booklistSearch(pattern) {
            const Http = new XMLHttpRequest();
            url='/browser_search?pat=' + encodeURIComponent(pattern);
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                if (Http.readyState == Http.DONE) {
                    var jsonResponse = JSON.parse(Http.responseText);
                    document.getElementById('main-book-view').innerHTML = jsonResponse["body"];
                    document.getElementById('info-text').innerHTML = jsonResponse["info-text"];
                }
            }
        }
    </script>
</head>
    <body>
        <div class="titlebar">
            <h1>Liste des livres</h1>
        </div>

        <div class="actionbar">
            <div class="linksbar">
                <a href="{{ url_for('.logout') }}">Logout</a><br/>
                <div id="info-text"></div>
                La librairie contient {{ nbBooklist }} livres<br/>
            </div>
            <input id="input-search-pattern" type="text" />
        </div>

        <div class="book-view" id="main-book-view">
        {% for b in books %}
          <div class="book-box">
            <a href="{{ url_for('.pdf_read', pdffile = b.filename) }}">
            <div class="book-img">
            <img src="{{ url_for('.image', sha1 = b.sha1) }}" width="300px" />
            </div>
            </a>
            <div class="simple-caption">
                <div class="book-filename">
                    <p>{{ b.get_name_and_size_as_str() }}</p>
                </div>
                <div class="book-actions">
                    <a href="{{ url_for('.bookadmin', sha1 = b.sha1) }}">
                    <img src="/static/pencil.svg" width="20" height="20" />
                    </a>
                </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </body>

</html>

